#towers-of-hanoi {
  display: flex;
  font-family: Arial;
  }

#board {
  display: flex;

  }

#pop {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 30px;
  align-items: center;
}
  [data-stack] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  width: 200px;
  background-color: aliceblue;
  margin: 25px;
  flex-direction: column-reverse;
}

[data-block] {
  height: 25px;
  float: left;
}

[data-block="25"] {
  width: 25px;
  background-color: blue;
}

[data-block="50"] {
  width: 50px;
  background-color: green;
}

[data-block="75"] {
  width: 75px;
  background-color: red;
}

[data-block="100"] {
  width: 100px;
  background-color: yellow;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}
